{% extends 'base.html' %}

{% block title %}Todo-List{% endblock %}

{% block content %}
    
    <form method="POST" class="d-flex flex-column justify-content-center mb-3 mt-5" style="max-width: 50%; margin: auto">
        {% csrf_token %}

        <h1 class="mb-3">Add Your Task</h1>
        {{ forms }}
        <input type="submit" class="btn btn-primary mt-3" value="Add" />
    </form>
{% endblock %}

<!-- <svg id="i-plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="24" height="24" fill="none"
    stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
    <path d="M16 2 L16 30 M2 16 L30 16" />
</svg> -->